<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instapic !</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="top_header">

      <div class="th_content d-flex flex-row">

        <a class="navbar-brand" href="#">
          <div class="ico_and_instagram d-flex flex-row">

              <img src="images/instagram.svg" width="60" height="30" class="d-inline-block align-top" alt="">
              <div class="vertical_line">

              </div>
              <span class="instagram">INSTAPIC</span>
          </div>
        </a>

          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
          </form>

        <div class="activity_and_profile">
          <a href="#">
            <i class="far fa-compass fa-lg"></i>
          </a>
          <a href="#">
            <i class="far fa-heart fa-lg"></i>
          </a>
          <a href="#">
            <i class="far fa-user fa-lg"></i>
          </a>
        </div>

      </div>

    </div>
