<%- include("partials/header.ejs") %>

<div class="main">
  <section class="main_section d-flex">


      <div class="ms_left">

        <div class="publisher_info">
          <img src="" alt="">
          <p>publisher</p>
          <p>gps</p>
        </div>

  <%    picture.forEach(function(data){ %>
        <div class="published_picture">
          <img src="<%= data.image_path %>" class="pPicture" alt="">
        </div>

  <%    }); %>

        <div class="LikeComShare">
          <i class="far fa-heart"></i>
          <i class="far fa-comment"></i>
          <i class="far fa-share-square"></i>
        </div>

        <div class="WhoLiked">
          <img src="" alt="">
          <p>Aimer Par</p>
        </div>

        <div class="comment">
          <p>Here the comments</p>
        </div>

        <div class="addAComment">
          <p>...</p>
        </div>

      </div>

    <div class="ms_right">

      <div class="profile_infos">

      </div>

    </div>
  </section>
</div>

<%- include("partials/footer.ejs") %>
