
.top_header{
  height: 70px;
  padding: 0px 16% 0px 16%;
}

.th_content{
  padding: 15px;
}

.ico_and_instagram{

}

.instagram{
  margin-right: 200px;
}

.activity_and_profile{
  margin-left: 170px;
}

.activity_and_profile a i{
  margin-top: 12px;
  margin-left: 20px;
}

.vertical_line{
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.search_form{
  position: absolute;
  text-align: center;
  left: 40%;
}

.login_form_username{
  position: absolute;
  left: 63%;
}

.login_form_password{
  position: absolute;
  left: 78%;
}

.login_form_button{
  position: absolute;
  left: 93%;
}

.collapse_menu{
  position: absolute;
  left: 31%;
}

.main{
  border: 1px solid black;
}

.main_section{
  border: 1px solid black;
  width: 60%;
  margin: 5% 20% 0% 20%;
}

.ms_left{
  border: 1px solid red;
  width: 68%;
}

.perPublication{
  display: inline;
}

.published_picture{
  border: 1px solid green;
  height: 500px;
  width: 100%;
}

.pPicture{
  max-width: 100%;
  max-height: 100%;
}

.ms_left div{
  border-bottom: 1px solid gray;
}

.ms_right{
  border: 1px solid green;
  width: 32%;
}
